.App {
  
  background-image: linear-gradient(90deg, rgb(237, 237, 237), rgb(236, 216, 19)), linear-gradient(135deg, rgb(163, 104, 62) 0%, rgb(163, 104, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%), linear-gradient(112.5deg, rgb(163, 104, 62) 0%, rgb(163, 104, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%), linear-gradient(90deg, rgb(163, 104, 62) 0%, rgb(163, 104, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%);
  background-blend-mode: overlay, overlay, overlay, normal;
  height: 100vh;
  background-size: cover;
  color: rgb(12, 41, 209);

}
.background {
  background-image: linear-gradient(90deg, rgb(237, 237, 237), rgb(236, 236, 236)), linear-gradient(135deg, rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%), linear-gradient(112.5deg, rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%), linear-gradient(90deg, rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%);
  background-blend-mode: overlay, overlay, overlay, normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
